.orange {
	color: rgb(233,114,88);
}

.blue {
	color: rgb(20,137,174);
}

.green {
	color: rgb(145,192,186);
}

.background-highlight {
	background: rgb(247,247,247);
	padding: 20px 60px;
	margin: 0;
}

#speakers img {
	height: 230px;
	width: 230px;
	border-radius: 50%;
	border: 1px solid rgb(20,137,174);
}

#speakers h4 {
	color: rgb(20,137,174);
}

#why-attend img {
	height: 100px;
	width: 100px;
}

#why-attend h3 {
	color: rgb(233,114,88);
}

#why-attend span {
	color: rgb(20,137,174);
	font-weight: 500;
}

#leaders {
	color: rgb(20,137,174);
}

#leaders .circle {
	width: 150px;
	height: 150px;
	border: 1px solid rgb(20,137,174);
	border-radius: 50%;
	margin: 20px auto;
}

#leaders .circle p {
	font-size: 50px;
	font-weight: 400;
	position: relative;
 	top: 50%;
	transform: translateY(-50%);
}

#leaders .circle span {
	font-size: 22px;
	display: block;
	line-height: 0;
}

#leaders p.orange {
	font-size: 18px;
	margin-top: 10px;
}

.border {
	height: 20px;
	background: rgb(25,139,176); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(25,139,176,1) 0%, rgba(244,249,251,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(25,139,176,1)), color-stop(100%,rgba(244,249,251,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(25,139,176,1) 0%,rgba(244,249,251,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(25,139,176,1) 0%,rgba(244,249,251,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(25,139,176,1) 0%,rgba(244,249,251,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(25,139,176,1) 0%,rgba(244,249,251,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#198bb0', endColorstr='#f4f9fb',GradientType=1 ); /* IE6-9 */
}

#three-pillars .self-aware {
	margin: 0;
}

#forum-experience .forum-photo {
	position: relative;
	height: 400px;
}

#forum-experience .forum-photo1 {
	background: url("../images/forum-experience-photo1.jpg") no-repeat;
	display: table-cell;
	vertical-align: bottom;
	width: 370px;
}

#forum-experience .forum-photo2 {
	background: url("../images/forum-experience-photo2.jpg") no-repeat center;
	margin-bottom: 20px;
}

#forum-experience .forum-photo3 {
	background: url("../images/forum-experience-photo3.jpg") no-repeat;
	display: table-cell;
	vertical-align: bottom;
	width: 370px;
}

#forum-experience .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#forum-experience .overlay-blue {
	background-color: rgba(20, 137, 174, 0.5);
}

#forum-experience .overlay-orange {
	background-color: rgba(233, 114, 88, 0.5);
}

#forum-experience .overlay-green {
	background-color: rgba(145, 192, 186, 0.5);
}

#forum-experience h4 {
	position: relative;
	color: #fff;
	font-weight: 400;
	font-size: 26px;
	text-transform: uppercase;
	line-height: 1.2;
	margin: 20px 40px;
}

#forum-experience .forum-photo:nth-of-type(2) h4 {
	top: 20px;
}

#forum-experience h4 span {
	font-size: 30px;
}

#forum-experience p.experience-quote {
	background: rgb(247,247,247);
	font-size: 19px;
	padding: 18px;
	margin-top: 20px;
	margin-bottom: 0;
	height: 169px;
}

#forum-experience p.experience-quote:first-of-type {
	margin-top: 0;
}

#forum-experience img.left, #forum-experience img.right {
	margin-top: 20px;	
	width: 175px;
	height: 175px;
}

#forum-experience img.left {
	margin-right: 15px;
}

#forum-experience img.center, #forum-experience iframe {
	margin-top: 20px;
}

#program .note {
	font-size: 16px;
}

#program .note p span {
	color: rgb(20,137,174);
	font-weight: 400;
}

#register, #register2, #register h2, #register2 h2 {
	color: #fff;
}

#register span, #register2 span {
	font-weight: 400;
} 

#buzz .quote, #innovative-companies .quote {
	color: #fff;
	font-style: italic;
	font-size: 30px;
	padding: 20px 30px;
}

#buzz .quote span, #innovative-companies .quote span {
	display: block;
	font-style: initial;
	font-size: initial;
	margin-top: 30px;
}

#buzz .quote1, #innovative-companies .quote1 {
	background: rgb(233,114,88);
	margin: 20px 0;
}

#buzz .quote2, #innovative-companies .quote2 {
	background: rgb(242,241,243);
	color: rgb(233,114,88);
	padding: 26px 30px;
}

#buzz .quote3 {
	background: rgb(20,137,174);
	padding: 24px 30px;
}

#buzz .quote4, #innovative-companies .quote4 {
	background: rgb(145,192,186);
	margin-left: 20px;
	padding: 30px;
}

#buzz .time {
	height: 431px;
	padding-left: 45px;
	margin-bottom: 19px;
}

#buzz .mindful {
	margin-left: 0;
}

#buzz .huff {
	margin: 20px 0 0 20px;
}

#innovative-companies p.title, #partners h3.title {
	color: rgb(20,137,174);
	text-transform: capitalize;
	font-variant: small-caps;
	font-weight: 400;
	font-size: 26px;
	line-height: 1.2;
}

#innovative-companies .quote {
	margin: 3px 0 0 0;
	padding: 30px 40px;
}

#feedback .testimonial {
	margin-bottom: 50px;
}

#feedback .testimonial .feedback-quote {
	border: 1px solid rgb(20,137,174);
	border-radius: 10px;
	padding: 40px;
	margin: 0 20px 30px 0;
}

#feedback .testimonial img {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	float: left;
	position: relative;
	bottom: 10px;
}

#feedback .testimonial h4 {
	color: rgb(20,137,174);
	margin-bottom: 0;
}

#results {
	color: #fff;
	text-align: center;
}

#results h2 {
	margin-bottom: 0;
}

#results p span {
	font-size: 50px;
	font-weight: 400;
	display: block;
}

.result1, .result2, .result3, .result4, .result5, .result6 {
	width: 130px;
	height: 300px;
	padding: 10px;
	margin-left: 50px;
}

#results .result1, #results .result4 {
	background: rgb(20,137,174);
}

#results .result2, #results .result5 {
	background: rgb(233,114,88);
}

#results .result3, #results .result6 {
	background: rgb(145,192,186);
}

#results p.orange {
	font-style: italic;
	font-size: 19px;
}

#venue a {
	color: rgb(20,137,174);
	font-weight: 400;
	text-decoration: none;
}

#venue a:hover {
	color: rgb(233,114,88);
}

#venue .venue-photo-side {
	width: 205px;
}

#partners h3.title {
	color: rgb(233,114,88);
}

.Zebra_Accordion dd {
  display: none; }

.Zebra_Accordion dt {
  cursor: pointer; }

dl.Zebra_Accordion {
  width: 80%;
  font-size: 15px;
  float: none;
  margin: 0px auto 20px; }

dl.Zebra_Accordion dt {
  font-weight: 600;
  padding: 15px;
  font-size: 18px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: rgb(233,114,88);
  background-color: transparent;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
  margin-top: 0px;
  display: block;
  clear: both;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4); }

dl.Zebra_Accordion dt:hover {
  color: rgb(20,137,174);
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease; }

dl.Zebra_Accordion dd {
  background-color: #fff;
  padding: 17px;
  margin: 0px 0;
  font-size: 17px;
  line-height: 24px;
  color: #555; }

dl.Zebra_Accordion dt.Zebra_Accordion_Expanded {
  color: #fff;
  background-color: #fff;
  color: rgb(20,137,174);
  padding-bottom: 1px; }



